
body{
  width:1300px;
  height: 2104px;

}

header{
  background-color:#0E70B1;
  width:1300px;
  height:523px;

}

sesction{
  width:1300px;
  height:1008px;
}

h1{
  font-family: Oswald;
  font-size:60px;
  position: center;
  color: white;
}

article{

  display:inline-block;
  width:861px;
  height:1008px;
  font-family:Open Sans;
}

h2{
  font-size:60px;
  font-family:Oswald;

}
sidebar{
  display: inline-block;
  width:431px;
  height:1008px;
  font-family:Open Sans;
}

footer{
  padding:none;
  width:1300px;
  height:573px;

}

.bottompics li{
  padding:none;
  height:330px;
  display:inline-block;
}
/*
.surf{

  width:324px;
}
.beer{

  width:325px;
}

.zach{

  width:326px;
}

.liquor{

  width:325px;
}
*/
.bottomBorder{
  height: 97px;
  padding:none;
  margin-bottom: 0;
  background-color:#043450;
}
