

body{
  width:1300px;
  height: 2104px;

}

header{
  background-color:#0E70B1;
  width:1300px;
  height:523px;
}

header nav{
  float:right;
  padding-top: 10px
}

header nav img{
  vertical-align: middle;
}

header nav ul,
header nav li{
  display:inline-block;
}


.center{
  width:990px;
  margin:0 auto;
}

.navleft{
  display: inline-block;
}
.navleft img{
  vertical-align: middle;
}
.hgroup{
  position: relative;
  top: 200px;

}
section{
  width:1300px;
  height:1008px;
}

h1{
  font-family: Oswald;
  font-size:78px;
  color: white;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
h6{
  display:table;
  font-family:Oswald;
  font-size:11px;
  color:#04344F;
  margin-left:auto;
  margin-right:auto;
}

article{
  display:inline-block;
  width:712px;
  height:1008px;
  font-family:Open Sans;
  padding-left:155px;
  float:left;

}

.main{
  display:inline-block;
}


h4{
  font-family:Oswald;
  font-size:20px;
  color:#026EAE;
}

h2{
  font-size:56px;
  font-family:Oswald;
  color:#043450;

}

aside{
  display: inline-block;
  width:278px;
  height:1008px;
  font-family:Open Sans;
}

h3{
  font-family:Oswald;
  color:#026EAE;
}

.sbtop{
  height:270px;
  padding-top:83px;
}
.sbtop img{
  margin: 0 auto;  
}


.sbtop h3{
  text-align:center;
}

.sbtop img{
  border-radius: 50%;
  display:inline-block;
  margin: 0 auto;
  }

.sbtop ul,
.sbtop li {
  display:inline block;
  text-align:center;
}
.sbmiddle{
  height: 323px;

}
.sbbottom{
  height:415px;
}

footer{
  padding:none;
  width:1300px;
  height:573px;
}

.mpp h2{
  color:#043450;
  margin: 0 auto;
  text-align: center;
}

.bottompics li{
  padding:none;
  height:330px;
  display:inline-block;
}

#navitems{
  float:right;
}

#navitems li{
  display:inline-block;
}

.bottomBorder{
  height: 97px;
  padding:none;
  margin-bottom: 0;
  background-color:#043450;
}
.bottomBorder ul,
.bottomBorder span{
  color:#A2B3BE;
}

.bottomBorder img{
  vertical-align: middle;
}
